.phpunit.result.cache
.DS_Store
./config.inc.php
/.phpdoc
/vendor
/node_modules
composer.*
*.tgz
.*.swp
/testreports
/tests/dbinterop/DatabaseAccounts.php
/doc/api/
/.phpdoc/
/roundcubemail
/releases
/tools
/tags
/.eslintrc.json
/.idea
