.phpunit.result.cache
.phpunit.cache
.DS_Store
./config.inc.php
/.phpdoc
/vendor
/vendor-bin/**/vendor/
/vendor-bin/**/composer.lock
/node_modules
composer.lock
*.tgz
.*.swp
/testreports
/tests/DBInteroperability/DatabaseAccounts.php
/doc/api/
/.phpdoc/
/roundcubemail
/releases
/tools
/tags
/.eslintrc.json
/.idea
.*.drawio.bkp
