<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<roundcube:include file="includes/settings-menu.html" />

<h1 class="voice"><roundcube:label name="settings" /> : <roundcube:label name="carddav.cd_title" /></h1>

<!-- addressbooks list -->
<div id="layout-list" class="listbox selected" aria-labelledby="aria-label-carddavaddressbookslist">
	<div class="header">
		<a class="button icon back-sidebar-button" href="#sidebar"><span class="inner"><roundcube:label name="settings" /></span></a>
		<span id="aria-label-carddavaddressbookslist" class="header-title"><roundcube:label name="carddav.cd_title" /></span>
		<a class="button icon toolbar-menu-button" href="#list-menu"><span class="inner"><roundcube:label name="menu" /></span></a>
	</div>


	<div class="scroller">
		<roundcube:object name="addressbookslist" id="addressbooks-table" class="treelist listing iconized" role="listbox"
		data-list="addressbooks_list" data-label-msg="listempty" />
	</div>
</div>

<!-- folder info frame -->
<div id="layout-content" role="main">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
		<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
		<span class="header-title"></span>
		<!-- toolbar -->

		<!--
			Button labels: domain (for gettext), label, title
			Executed action: command names a JS function of the rcmail object, - are replaced by _ for the function name
		-->
		<div id="carddavtoolbar" class="toolbar menu">
			<roundcube:button
				command="carddav-create-account"
				type="link"
				class="create disabled"
				classAct="create"
				innerClass="inner"
				data-fab="true"
				domain="carddav"
				label="btn_add"
				title="btn_addaccount"
			/>


			<roundcube:button command="carddav-delete-account" type="link" class="delete disabled" classAct="delete"
				domain="carddav" label="btn_delete" title="btn_deleteaccount" innerclass="inner" />
		</div>
	</div>
	<div class="iframe-wrapper">
		<roundcube:object name="contentframe" id="preferences-frame" src="env:blankpage" />
	</div>
</div>

<roundcube:include file="includes/footer.html" />
