<?php

declare(strict_types=1);

namespace MStilkerich\Tests\CardDavAddressbook4Roundcube\DBInteroperability;

final class DatabaseAccounts
{
    /** 
     * @var array Definitions of test database accounts.
     *            Each entry maps a DB type (arbitrary name) to a dsnw string as required by roundcube and optionally a
     *            database prefix that is prepended to the table names.
     */
    public const ACCOUNTS = [
        "Postgres" => [ "pgsql://rcmcarddav:pwd@localhost/rcmcarddav" , "" ],
        "MySQL" => [ "mysql://rcmcarddav:pwd@localhost/rcmcarddav" , "rckrb_" ],
        "SQLite3" => [ "sqlite:////dbpath/rcmcarddav.sqlite?mode=0640", ""],
    ];
}

// vim: ts=4:sw=4:expandtab:fenc=utf8:ff=unix:tw=120:ft=php
