<?php

declare(strict_types=1);

namespace MStilkerich\Tests\CardDavAddressbook4Roundcube\DBInteroperability;

final class DatabaseAccounts
{
    /**
     * @var array<string, list<string>> Definitions of test database accounts.
     *      Each entry maps a DB type (arbitrary name) to a dsnw string as required by roundcube
     */
    public const ACCOUNTS = [
        "sqlite3" => [
            "sqlite:///" . __DIR__ . "/../../testreports/test.db?mode=0640",
            "sqlite:///" . __DIR__ . "/../../testreports/migtest.db?mode=0640",
        ],
        "postgres" => [
            "pgsql://postgres:postgres@127.0.0.1/rcmcarddavtest",
            "pgsql://postgres:postgres@127.0.0.1/rcmcarddavmigtest",
        ],
        "mysql" => [
            "mysql://root:root@127.0.0.1/rcmcarddavtest",
            "mysql://root:root@127.0.0.1/rcmcarddavmigtest",
        ],
    ];
}

// vim: ts=4:sw=4:expandtab:fenc=utf8:ff=unix:tw=120:ft=php
