<phpunit colors="true" testdox="true" bootstrap="autoload.php" verbose="true">
    <php>
        <var name="TEST_TESTRUN" value="unit"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="false">
        <include>
            <file>../../carddav.php</file>
            <directory suffix=".php">../../src</directory>
        </include>

        <report>
            <php outputFile="../../testreports/coverage-unit.cov"/>
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="../../testreports/testdox-unit.html"/>
    </logging>
</phpunit>

<!-- vim: set ts=4 sw=4 expandtab fenc=utf8 ff=unix tw=120: -->
