<phpunit colors="true" testdox="true" bootstrap="autoload.php" verbose="true">
    <php>
        <var name="TEST_TESTRUN" value="unit"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="../../testreports/coverage-unit" lowUpperBound="35" highLowerBound="70"/>
        <!-- <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/> -->
        <log type="testdox-html" target="../../testreports/testdox-unit.html"/>
    </logging>
</phpunit>

<!-- vim: set ts=4 sw=4 expandtab fenc=utf8 ff=unix tw=120: -->
