.listing.iconized tr.cd_preferences>td.section:before {
  content: "\f47f"
}

.listing.iconized li.cd_preferences>a:before {
content: "\f47f";
}

.listing.iconized li.account a:before {
 content:"\f007";
 font-weight:400
}

.listing.iconized li.addressbook a:before {
 content:"\f2b9";
 font-weight:400
}

